@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.background{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  transform: scale(1.1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  padding-top: calc(100vh - 170px);
  overflow-y: scroll;
  transition: all 1s ease-in-out;
  z-index: 2
}

.content>.bottom {
  height: calc(100vh);
  overflow-y: hidden;
  text-align: center;
  position: relative;
  padding-top: 75px;
  pointer-events: all;
  transition: all 1s ease-in-out;
}

.content>.bottom>figure {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  display: flex;
    justify-content: center;
}

.content>.bottom>figure img {
  border-radius: 50%;
  width: 160px;
  transition: all 1s ease-in-out;
  pointer-events: all;
}

.full-page .content>.bottom {
  padding-top: 0;
  height: 100vh;
}

.full-page .content>.bottom>figure img {
  width: 75px;
  margin-top: 10px;
}

.product-detail {
  height: 100%;
  display: flex;
  background-color: #2b2b2b;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 0.5em 1em;
  & .slideshow-container {
    max-width: 300px;
    max-height: 85%;
    position: relative;
    & .prev-image {
      left: 6px;
    }
    & .next-image {
      right: 6px;
    }
    & .next-image,
    & .prev-image {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      color: gray;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      overflow: hidden;
      &:hover{
        color: whitesmoke;
      }
    }
  }
  & .scroll-left-controls, & .scroll-right-controls  {
    position: absolute;
    bottom: 0;
    height: 112px;
    width: 18px;
    background: #dbdbc656;
    opacity: 0;
    transition: 0.8s opacity ease-out;
    pointer-events: none;
    &.visible {
      opacity: 1;
      pointer-events: all;
    }
  }
  & .scroll-left-controls{
    left: 0;
    box-shadow: 6px 0 6px #dbdbc656;
  }
  & .scroll-right-controls {
    right: 0;
    box-shadow: -6px 0 6px #dbdbc656;

  }
  & .controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s opacity ease-out;
    padding: 2px 0;
    box-shadow: 0px -5px 5px #cfcfcf45;
    background: #cfcfcf45;
    pointer-events: none;
    &.visible {
      opacity: 1;
      pointer-events: all;
    }

    & img {
      height: 108px;
      border: 1px solid transparent;
      cursor: pointer;
      &.active{
        border: 1px solid white;
      }
    }
    
  }

  & figure {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & img {
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: 100%;
      flex-shrink: 0;
      object-fit: cover;
    }
  }

  &>.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    position: relative;

    & h1 {
      font-size: 1.7em;
      font-weight: normal;
    }

    & .description {
      font-size: 1.2em;
      flex-grow: 1;
      overflow-y: auto;
      padding: 0 1.3em;
    }

    & .close {
      position: absolute;
      top: 1em;
      right: 1em;
      font-size: 1.2em;
      cursor: pointer;
      padding: 0 3px;
    }

    & .bottom {
      display: flex;
      justify-content: end;

      & .info {
        display: flex;
        justify-content: space-between;
        width: 300px;
        font-size: 1.2em;
        margin-bottom: 1em;
        margin-right: 1em;
      }
    }
  }
}

.content.full-page {
  padding-top: calc(100vh - 95px);
}

.content>figure {
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0;

}

.content>figure img {
  width: 100%;
  height: 100%;
}

.relevant {
  background-color: #101420e5;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.relevant nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  flex-shrink: 0;
}


.relevant nav div {
  display: flex;
  justify-content: space-around;
  width: calc(50% - 80px);
}

.relevant nav a {
  text-decoration: none;
  color: white;
  font-size: 23px;
  cursor: pointer;
  &.active {
    color: #dcd76a
  }
}

#about.relevant-content {
  padding-top: 30px;
  overflow-y: auto;
}

.relevant-content {
  display: none;
}

.relevant-content.active {
  display: block;
  height: 100%;

  &#products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-top: 2.6em;
    position: relative;

    &.details {
      & .product-detail {
        display: flex;
      }

      & .product {
        display: none;
      }
    }
  }
}

.product {
  background: #2b2b2b;
  width: 300px;
  max-width: 100%;
  margin: 0 1em;
  padding: 0.7em;
  cursor: pointer
}


.product h1 {
  font-size: 21px;
  font-weight: normal;
  color: white;
  margin-top: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  color: white;

  &>.right {
    display: flex;
    justify-content: end;
    align-items: center;

    & input {
      width: 5em;
      margin-right: 0.6em
    }

    & .add-to-cart {
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}

.product figure img {
  height: 410px;
  width: 100%;
  object-fit: cover;
}

.product figure {
  padding: 0;
  margin: 0;
}

.paragraph {
  display: flex;
  margin-bottom: 4em;
}

.paragraph.vertical {
  flex-direction: column;
  align-items: center;
  width: 100%;

  & p {
    width: 80%;
  }

  & img {
    width: 80%;
    margin-bottom: 2em;
  }
}

.paragraph img {
  width: 27%;
  display: inline-block;
  margin: 0 3%;
}

.paragraph p {
  width: 61%;
  margin: 0 3%;
  font-size: 19px;
  color: white;
}

#login.relevant-content {
  &.active {
    display: grid;
  }

  grid-template-columns: 57% 43%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#login form {
  display: grid;
  grid-template-columns: 290px 50px;
  grid-template-rows: repeat(2, 50px);
  grid-template-areas: "i b"
    "i2 b";
  gap: 3px;
  margin: 0 auto;

  & label {
    &[for="username"] {
      grid-area: i;
      border-top-left-radius: 17px;
    }
    &[for="password"] {
      grid-area: i2;
      border-bottom-left-radius: 17px;
    }
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    & input {
      width: 100%;
      height: 100%;
      padding-left: 2.7em;
      padding-right: 0.8em;
      font-size: 1.1em;
    }

    & i {
      position: absolute;
      font-size: 2em;
      margin-left: 8px;
    }
  }

  & button {
    grid-area: b;
    border-radius: 0 17px 17px 0;
    font-size: 2em;
    background: white
  }
}

#register.relevant-content {
  &.active {
    display: grid;
  }

  grid-template-columns: 57% 43%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#register form {
  display: grid;
  grid-template-columns: 217px 103px;
  grid-template-rows: repeat(8, 50px);
  grid-template-areas: 
    "i ."
    "i2 i2"
    "i3 i3"
    "i4 i4"
    "i5 i5"
    "i6 i6"
    "i7 i7"
    ". b";
  gap: 3px;
  margin: 0 auto;

  & label{
    &[for="username"]{
      grid-area: i;
      border-top-left-radius: 17px;
      border-top-right-radius: 17px;      
    }
    &[for="fullname"] {
      grid-area: i2;
      border-top-right-radius: 17px;
    }
    &[for="phone"] {
      grid-area: i3;
    }
    &[for="email"] {
      grid-area: i4;
    }
    &[for="emailconfirmation"] {
      grid-area: i5;
    }
    &[for="password"] {
      grid-area: i6;
    }
    &[for="passwordconfirmation"] {
      grid-area: i7;
      border-bottom-left-radius: 17px;

    }
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    & input {
      width: 100%;
      height: 100%;
      padding-left: 2.7em;
      padding-right: 0.8em;
      font-size: 1.1em;
    }

    & i {
      position: absolute;
      font-size: 2em;
      margin-left: 8px;
    }
  }

  & button {
    grid-area: b;
    border-radius: 0 0 17px 17px;
    font-size: 2em;
    background: white;
  }
}